<div class="container-fluid gallery-photos">
  

  <!-- portrait -->
  <div class="p-4 category visible" data-category="{{ photos_portraits.category }}">
    <h2 class="p-4 h2-title">{{ photos_portraits.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_portrait.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- couple -->
  <div class="p-4 category visible" data-category="{{ photos_couples.category }}">
    <h2 class="p-4 h2-title">{{ photos_couples.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_couples.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- marriage -->
  <div class="p-4 category visible" data-category="{{ photos_marriages.category }}">
    <h2 class="p-4 h2-title">{{ photos_marriages.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_marriages.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- pregnancy -->
  <div class="p-4 category visible" data-category="{{ photos_pregnancies.category }}">
    <h2 class="p-4 h2-title">{{ photos_pregnancies.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_pregnancies.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- baby -->
  <div class="p-4 category visible" data-category="{{ photos_babies.category }}">
    <h2 class="p-4 h2-title">{{ photos_babies.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_babies.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

 <!-- baptism -->
  <div class="p-4 category visible" data-category="{{ photos_baptismes.category }}">
    <h2 class="p-4 h2-title">{{ photos_baptismes.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_baptismes.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

 <!-- family -->
  <div class="p-4 category visible" data-category="{{ photos_families.category }}">
    <h2 class="p-4 h2-title">{{ photos_families.h2-title }}</h2>
    <div class="row">
      {% for photo in photos_families.photos %}
        <!-- show the photos -->
        <div class="col-12 col-sm-4 col-lg-3 pb-4">
          <img class="image" src="{{ photo.data.url }}" alt="{{ photo.data.url | removeExt }}">
        </div>
      {% endfor %}
    </div>
  </div>

</div>