<div class="container-fluid gallery-header">
  <h1 class="text-center p-5 h1-title">
      {{ page_gallery.page-title }}
  </h1>
  <div class="blue-container p-5 gallerys-presentation"> 
    {% if page_gallery.sentence1 != "" %}
      <p>{{ page_gallery.sentence1 }}</p> 
    {% endif %}

    {% if page_gallery.sentence2 != "" %}
      <p>{{ page_gallery.sentence2 }}</p>
    {% endif %}

    {% if page_gallery.sentence3 != "" %}
      <p>{{ page_gallery.sentence3 }}</p> 
    {% endif %}
    
    <div class="dropdown mt-5 text-center">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ page_gallery.dropdown-text }}
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item text-center" type="button">Toutes les catégories</button></li>
        <li><button class="dropdown-item text-center" type="button">Portrait</button></li>
        <li><button class="dropdown-item text-center" type="button">Couple</button></li>
        <li><button class="dropdown-item text-center" type="button">Mariage</button></li>
        <li><button class="dropdown-item text-center" type="button">Grossesse</button></li>
        <li><button class="dropdown-item text-center" type="button">Bébé</button></li>
        <li><button class="dropdown-item text-center" type="button">Baptême</button></li>
        <li><button class="dropdown-item text-center" type="button">Famille</button></li>
      </ul>
    </div>
  </div>
</div>